<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li index="0" class="active"><a href="{% url 'index' %}?index=0">总览</a></li>
        <li index="1"><a href="{% url 'te_dev' %}?index=1">部门知识库</a></li>
        <li index="2"><a href="{% url 'te_dev' %}?index=2">我的任务</a></li>
        <li index="3"><a href="{% url 'meal_order_stat' %}">加班订餐</a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li index="4"><a href="{% url 'te_dev' %}?index=4">待开发..</a></li>
        <li index="5"><a href="{% url 'te_dev' %}?index=5">待开发..</a></li>
        <li index="6"><a href="{% url 'te_dev' %}?index=6">待开发..</a></li>
        <li index="7"><a href="{% url 'te_dev' %}?index=7">待开发..</a></li>
        <li index="8"><a href="{% url 'te_dev' %}?index=8">待开发..</a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li index="9"><a href="{% url 'te_dev' %}?index=9">待开发..</a></li>
        <li index="10"><a href="{% url 'te_dev' %}?index=10">待开发..</a></li>
        <li index="11"><a href="{% url 'te_dev' %}?index=11">待开发..</a></li>
    </ul>
</div>