{% extends 'CommonBase/Base.html' %}


{% block title %} IProj-UpdateInfo {% endblock %}


{% block customcss %}
{% load static %}
<link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
<link href="{% static 'css/index.css' %}" rel="stylesheet">
{% endblock %}

{% block topNav %}
{% include 'CommonBase/TopNavBar.html' %}
{% endblock %}

{% block content %}
<div class="container-fluid">

    {% include 'CommonBase/LeftNavBar.html' %}
    <div class="wraper">
        <div class="earth">
        </div>
        <span class="line">
    </span>
        <div class="log">
            <ul>
                <li>
                    <h3 class="time"><em>2016</em><br><span>12</span>月<span>04</span>日</h3>
                    <div class="content">
                        <i></i>
                        <div class="contentmain">
                            <h4 class="h4-title">V1.1</h4>
                            <div class="content-normal">
                                <p class="stronge">更新：</p>
                                <p>1.新增周报录入功能</p>
                                <p>2.增加Excel 导出功能</p>
                                <p>3.增加注销功能</p>
                                <p></p>
                                <p class="stronge">修复：</p>
                                <p>1.表格增加分页功能</p>
                                <p>2.优化日期显示格式</p>

                                <p>　</p>
                                <p>　</p>
                                <p>　</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <h3 class="time"><em>2016</em><br><span>11</span>月<span>04</span>日</h3>
                    <div class="content">
                        <i></i>
                        <div class="contentmain">
                            <h4 class="h4-title">V1.0</h4>
                            <div class="content-normal">
                                <p class="stronge">更新：</p>
                                <p>1.新增订餐统计功能</p>
                                <p>2.订餐统计详情页增加Echarts 图表显示</p>
                                <p></p>
                                <p class="stronge">修复：</p>
                                <p>1.完善登陆认证逻辑</p>
                                <p>2.数据库从SqlLite 迁移到 MySQL</p>
                                <p>　</p>
                                <p>　</p>
                                <p>　</p>
                                <p>　</p>
                                <p>　</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <h3 class="time"><em>2016</em><br><span>11</span>月<span>02</span>日</h3>
                    <div class="content">
                        <i></i>
                        <div class="contentmain">
                            <h4 class="h4-title">关于本站</h4>
                            <div class="content-normal">
                                <p class="stronge">源码:</p>
                                <p>托管于GITHUB: <a href="https://github.com/zzjeric/IProj"> <span class="span-user-name">https://github.com/zzjeric/IProj</span></a>
                                </p>
                                <p></p>
                                <p class="stronge">BasedOn:</p>
                                <p>前端 : Bootstrap & Jquery & Echarts</p>
                                <p>后台 : Django1.10 (Python3)</p>
                                <p>部署 : Ubuntu14.04 + Nginx + uwsgi (Aliyun)</p>
                                <p></p>
                                <p class="stronge">联系：</p>
                                <p>Mail : zzjeric222@gmail.com</p>
                                <p>　</p>
                                <p>　</p>
                                <p>　</p>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

</div>
{% endblock %}


{% block bodyjs %}
<script>
var indexDict = {{ indexDict|safe }};
    var index = indexDict['index'];
    //alert(index);

	$(".nav-sidebar > li").each(function(){
		if($(this).attr('index')==index){
			$(this).addClass("active");
		}else{
		    $(this).removeClass("active");
		}
	});

  var rightbuttonHeight;
  $(window).resize(function(e){setWZ()});
  function setWZ(){
    var wht=$(window).height(),
      topHT=(wht-516)/2,
      xs=0.3;
      if(wht<=768) xs=-0.1;
      if(wht<=900&&wht>768) xs=0.1;
      rightbuttonHeight = topHT-topHT*xs;
      $('.wraper').css('margin-top',parseInt(50));
    $('.rightbutton').css({'margin-top':rightbuttonHeight});
  }
  setWZ();
  $('.content-normal').not(':eq(0)').css({'opacity':'0.5'});
  $('.content-normal').not(':eq(0)').on('mouseover',function(){
    $(this).css({'opacity':'1'});
  }).on('mouseout',function(){
    $(this).css({'opacity':'0.5'});
  })

  $('.b-f,.c-f,.a-f').on('mouseover',function(){
    if($.browser.version != '6.0' && $.browser.version != '7.0' && $.browser.version != '8.0')
    $('.'+this.className.replace('-f','')).css({'opacity':'1'});
  }).on('mouseout',function(){
    if($.browser.version != '6.0' && $.browser.version != '7.0' && $.browser.version != '8.0')
    $('.'+this.className.replace('-f','')).css({'opacity':'0.4'});
  })

//  $('.rightbutton').css({'margin-top':'20px'}).animate({'margin-top':rightbuttonHeight},500);


  var dtd = $.Deferred();

  function earthShow(){
    $('.earth').show(1,function(){
      dtd.resolve();
    });
  }
  dtd.promise(earthShow);


  function lineShow(){
    $('.line').css({'display':'block'});
    $('.log li').each(function(i){
      var _self = this;
      (function(){
        setTimeout(function(){
        $(_self).show().css({'-webkit-animation': '1s ease 0ms both','-webkit-animation-name':'bounceInDown'});
      },200*i);
      })(i)
    })
    $('.log').show().animate({'opacity':'1'});
  }
  dtd.promise(lineShow);

  earthShow.then(function(){
    lineShow()
  });
  earthShow(dtd);
  $('.wraper').animate({'height':'800px'});



</script>
{% endblock %}
