{% extends 'CommonBase/Base.html' %}


{% block title %} Week Report {% endblock %}


{% block customcss %}
{% load static %}
<link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
<script src="{% static 'js/echarts.common.min.js' %}"></script>
{% endblock %}


{% block topNav %}
{% include 'CommonBase/TopNavBar.html' %}
{% endblock %}


{% block content %}
<div class="container-fluid">
    <div class="row">

        {% include 'CommonBase/LeftNavBar.html' %}

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h2 class="sub-header">我的周报</h2>
            <button type="button" class="btn btn-primary" id="newWeekReportBtn" data-toggle="modal"
                    onclick="OpenAddWeekReport()">周报填写
            </button>
            <div class="btn-group">
                <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                    导出Excel <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a onclick="ExportExcel('cur')">导出本周</a></li>
                    <li><a onclick="ExportExcel('pre')">导出上周</a></li>
                    <li class="divider"></li>
                    <li><a onclick="ExportExcel('all')">导出全部</a></li>
                </ul>
            </div>
            <div id="bs_alert" class="alert alert-dismissible fade in hidden" role="alert">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <strong id="bs_alert_msg"></strong>
            </div>
            <!--<div class="alert alert-success" role="alert">添加成功!</div>-->
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th>姓名</th>
                        <th>时间</th>
                        <th>项目</th>
                        <th>任务</th>
                        <th>计划完成时间</th>
                        <th>完成状态</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for weekReport in weekReports %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ weekReport.userName }}</td>
                        <td>{{ weekReport.dtRange }}</td>
                        <td>{{ weekReport.prjName }}</td>
                        <td>{{ weekReport.taskName }}</td>
                        <td>{{ weekReport.planEndDt|date:"Y-m-d" }}</td>
                        <td>{% if weekReport.status == 1 %}
                            <span class="sp-success">已完成</span>
                            {% else %}
                            <span class="sp-normal">未完成</span>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
            <!-- Pagination Start -->
            {% if allPage > 1 %}
            <form class="form-inline" role="form">
                <nav>
                    <ul class="pagination">
                        <li class=""><a href="?pageType=pageFirst">首页</a></li>
                        <!-- 如果当前是第一页，就不显示【上一页】链接 -->
                        {% ifnotequal curPage 1 %}
                        <li class="">
                            <a href="?curPage={{ curPage }}&allPage={{ allPage }}&pageType=pageUp">
                                上一页
                            </a>
                        </li>
                        {% endifnotequal %}

                        <li class="disabled"><a href="#">{{ curPage }}/{{ allPage }}</a></li>

                        <!-- 如果当前是最后一页，就不显示【下一页】链接 -->
                        {% ifnotequal curPage allPage %}
                        <li class="">
                            <a href="?curPage={{ curPage }}&allPage={{ allPage }}&pageType=pageDown">
                                下一页
                            </a>
                        </li>
                        {% endifnotequal %}

                        <li class=""><a href="?pageType=pageLast">尾页</a></li>
                        <li class="">
                            <div class="input-group">
                                <input type="text" class="form-control" id="pageSkip">
                                <a class="input-group-addon" onclick="pageSkip({{ allPage }})">跳转</a>
                            </div>
                        </li>
                    </ul>
                </nav>
            </form>
            {% endif %}
            <!--Pagination End -->
        </div>
    </div>
</div>

<!-- AddWeekReportModal Start-->
<div class="modal fade" id="AddWeekReportModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" style="height:550px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 class="modal-title" id="newOrderStat">周报填写</h4>
            </div>
            <div class="modal-body" style="height:550px;">
                <iframe name="add_week_report_iframe_name" frameBorder="0" src="{% url 'dialog_add_weekreport' %}"
                        width="100%"
                        height="100%"></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="AddWeekReport()">保存</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>
<!-- AddWeekReportModal End-->


<!-- OrderModal Start-->
<div class="modal fade" id="OrderModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="height:350px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 class="modal-title" id="NewOrder"></h4>
            </div>
            <div class="modal-body" style="height:350px;">
                <iframe name="order_iframe_name" frameBorder="0" src="{% url 'dialog_order' %}" width="100%"
                        height="100%"></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Order()">保存</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>
<!-- OrderModal End-->

<!-- OrderDetailModal Start-->
<div class="modal fade" id="OrderDetailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 class="modal-title" id="OrderDetail">预定详情</h4>
            </div>
            <div class="modal-body">

                <div class="panel panel-primary">
                    <div class="panel-heading">分类统计</div>
                    <div class="panel-body">
                        <div id="echarts_meal_order_stat" style="width: 360px;height:300px;float:left;"></div>
                        <ul style="width:140px;float:left;margin-top:50px;" id="list_meal_order_stat">
                        </ul>
                    </div>
                </div>

                <div class="panel panel-primary">
                    <!-- Default panel contents -->
                    <div class="panel-heading">预定列表</div>
                    <!--<div class="panel-body">-->
                    <!--<p>预定列表</p>-->
                    <!--</div>-->

                    <!-- Table -->
                    <div id="orderTable" class="table-responsive">

                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <!--<button type="button" class="btn btn-primary" onclick="Order()">保存</button>-->
                <!--<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>-->
            </div>
        </div>
    </div>
</div>
<!-- OrderDetailModal End-->


<!-- AlertModalWithRefresh Start-->
<div class="modal fade" id="AlertModalWithRefresh" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 class="modal-title" id="AlertMsgWithRefresh">操作结果</h4>
            </div>
            <div class="modal-body">
                <p><span id="AlertMsgBodyWithRefresh"></span></p>
            </div>
            <div class="modal-footer">
                <!--<button type="button" class="btn btn-primary" onclick="Order()">保存</button>-->
                <button type="button" class="btn btn-primary" onclick="javascript:location.reload();">关闭</button>
            </div>
        </div>
    </div>
</div>
<!-- AlertModalWithRefresh End-->

<!-- AlertModal Start-->
<div class="modal fade" id="AlertModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 class="modal-title" id="AlertMsg">操作结果</h4>
            </div>
            <div class="modal-body">
                <p><span id="AlertMsgBody"></span></p>
            </div>
            <div class="modal-footer">
                <!--<button type="button" class="btn btn-primary" onclick="Order()">保存</button>-->
                <button type="button" class="btn btn-primary" onclick="closeOrderAlertDialog();">关闭</button>
            </div>
        </div>
    </div>
</div>
<!-- AlertModal End-->

{% endblock %}


{% block bodyjs %}

{% load static %}
<script src="{% static 'js/dt-util.js' %}" charset="UTF-8"></script>
<script>

    var indexDict = {{ indexDict|safe }};
    var index = indexDict['index'];
    //alert(index);

	$(".nav-sidebar > li").each(function(){
		if($(this).attr('index')==index){
			$(this).addClass("active");
		}else{
		    $(this).removeClass("active");
		}
	});

	$.ajaxSetup({
    	data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
	});

	function afterSubmitAddWeekReport(ajaxResponse){
	    //$('#bs_alert').removeClass('hidden');
	    //$('#bs_alert').removeClass('alert-success');
		//$('#bs_alert').removeClass('alert-danger');
		if(ajaxResponse['Flag']=='Y'){
			//alert('添加成功!');
			$('#AlertMsgBodyWithRefresh').html('添加成功!');
			$('#AlertModalWithRefresh').modal('show');
			//$('#bs_alert').addClass('alert-success');
			//$('#bs_alert_msg').html('添加成功!');
		}else if(ajaxResponse['Flag']=='N'){
		    //alert(ajaxResponse['Msg']);
		    $('#AlertMsgBodyWithRefresh').html(ajaxResponse['Msg']);
			$('#AlertModalWithRefresh').modal('show');
			//$('#bs_alert').addClass('alert-danger');
			//$('#bs_alert_msg').html('添加失败!|'+ajaxResponse['Msg']);
		}else{
			//alert('添加失败!');
			$('#AlertMsgBodyWithRefresh').html('添加失败!');
			$('#AlertModalWithRefresh').modal('show');
			//$('#bs_alert').addClass('alert-danger');
			//$('#bs_alert_msg').html('添加失败!');
		}

	}

	function afterSubmitOrder(ajaxResponse){
		if(ajaxResponse['Flag']=='Y'){
			$('#AlertMsgBody').html('添加成功!');
			$('#AlertModal').modal('show');
		}else if(ajaxResponse['Flag']=='N'){
		    $('#AlertMsgBody').html(ajaxResponse['Msg']);
			$('#AlertModal').modal('show');
		}else{
			$('#AlertMsgBody').html('添加失败!');
			$('#AlertModal').modal('show');
		}

	}

	function closeOrderAlertDialog(){
	    $('#AlertModal').modal('toggle');
	}

	function OpenAddWeekReport(){
	    //$(window.frames["add_week_report_iframe_name"].document).find("#dtRange").val(null);
	    $(window.frames["add_week_report_iframe_name"].document).find("#prjName").val(null);
	    $(window.frames["add_week_report_iframe_name"].document).find("#taskName").val(null);
	    $(window.frames["add_week_report_iframe_name"].document).find("#planEndDt").val(null);
	    $(window.frames["add_week_report_iframe_name"].document).find("#status").val(1);
		$('#AddWeekReportModal').modal('show')
	}

	function AddWeekReport(){
	    var dtRange  = $(window.frames["add_week_report_iframe_name"].document).find("#dtRange").val();
	    var prjName  = $(window.frames["add_week_report_iframe_name"].document).find("#prjName").val();
	    var taskName  = $(window.frames["add_week_report_iframe_name"].document).find("#taskName").val();
	    var planEndDt  = $(window.frames["add_week_report_iframe_name"].document).find("#planEndDt").val();
	    var status  = $(window.frames["add_week_report_iframe_name"].document).find("#status").val();
	    //alert(title+restName+mealName+remark);
	    if(dtRange ==null || dtRange =='' ){
	        alert('请输入时间范围');
	        return;
	    }
	    if(prjName ==null || prjName ==''){
	        alert('请输入项目名称');
	        return;
	    }
	    if(taskName ==null || taskName =='' ){
	        alert('请输入任务名称');
	        return;
	    }
	    if(planEndDt ==null || planEndDt =='' ){
	        alert('请输入计划完成时间');
	        return;
	    }
	    if(status ==null || status =='' ){
	        alert('请输入完成状态');
	        return;
	    }
	    dtRange = dtRange.replace(/[^0-9\-\/]/g,'')
	    $.ajax({
            type: 'POST',
            url: "{% url 'ajax_add_week_report' %}",
            data: {"dtRange":dtRange,"prjName":prjName,"taskName":taskName,"planEndDt":planEndDt,"status":status},
            success: afterSubmitAddWeekReport
        });
		$('#AddWeekReportModal').modal('toggle')
	}

	function OpenOrder(row_id,restName,status){
	    //alert(status);
	    if('0' == status){
	        $('#AlertMsgBody').html('已经结束啦,下次早点哟!');
			$('#AlertModal').modal('show');
			reyurn;
	    }
	    //alert(rowid+restName);
	    $("#NewOrder").html("预定|   餐厅:"+restName);
	    $(window.frames["order_iframe_name"].document).find("#rowid").val(row_id);
        $(window.frames["order_iframe_name"].document).find("#mealName").empty();

	    $.get("{% url 'ajax_get_mealnames' %}?rowId="+row_id,function(rtnValue){
            if(rtnValue['Flag']=='Y'){
                var s = rtnValue['Data'].split(';');
                if(s != null && s.length > 0){
                    for(var i=0;i<s.length;i++){
                        if(s[i]!=null&&s[i]!='')$(window.frames["order_iframe_name"].document).find("#mealName").append("<option>"+s[i]+"</option>");
                    }
                }
            }
        });

	    $(window.frames["order_iframe_name"].document).find("#remark").val(null);
	    $('#OrderModal').modal('show')
	}

	function Order(){
	    var mealName  = $(window.frames["order_iframe_name"].document).find("#mealName").val();
	    var orderNum  = $(window.frames["order_iframe_name"].document).find("#orderNum").val();
	    var remark  = $(window.frames["order_iframe_name"].document).find("#remark").val();
	    var rowId = $(window.frames["order_iframe_name"].document).find("#rowid").val();

	    if(mealName ==null || mealName =='' ){
	        alert('请选择美食!');
	        return;
	    }
	    if(orderNum ==null || orderNum ==''){
	        alert('请选择预定数量!');
	        return;
	    }

	    //alert(mealName+orderNum+remark);
	    $.ajax({
            type: 'POST',
            url: "{% url 'ajax_order' %}",
            data: {"mealName":mealName,"orderNum":orderNum,"remark":remark,"rowId":rowId},
            success: afterSubmitOrder
        });
        $('#OrderModal').modal('toggle')
	}

	function OpenOrderDetail(row_id,restName){
        $.get("{% url 'ajax_get_orderstat_echartsdata' %}?rowId="+row_id,function(rtnValue){
            //alert(rtnValue['Flag']);
            if(rtnValue['Flag']=='Y'){
                // 基于准备好的dom，初始化echarts实例
                var myChart = echarts.init(document.getElementById('echarts_meal_order_stat'));
                // 指定图表的配置项和数据
                var option = {
                    title: {
                        left: 'center',
                        top: 20,
                        textStyle: {
                            color: '#000'
                        }
                    },

                    tooltip : {
                        trigger: 'item',
                        formatter: "{a} <br/>{b} : {c} ({d}%)"
                    },

                    visualMap: {
                        show: false,
                        min: 80,
                        max: 600,
                        inRange: {
                            colorLightness: [0, 1]
                        }
                    },
                    series : [
                        {
                            name:'订餐统计',
                            type:'pie',
                            radius : '55%',
                            center: ['50%', '50%'],
                            data:rtnValue['Data'].sort(function (a, b) { return a.value - b.value}),
                            roseType: 'angle',
                            label: {
                                normal: {
                                    textStyle: {
                                        color: 'rgba(0, 0, 0, 1)'
                                    }
                                }
                            },
                            labelLine: {
                                normal: {
                                    lineStyle: {
                                    color: 'rgba(0, 0, 0, 1)'
                                    },
                                    smooth: 0.2,
                                    length: 10,
                                    length2: 20
                                }
                            },
                            itemStyle: {
                                normal: {
                                    color: '#c23531',
                                    shadowBlur: 200,
                                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                                }
                            }
                        }
                    ]
                };
                // 使用刚指定的配置项和数据显示图表。
                myChart.setOption(option);
            }
        });

        $('#orderTable').load("{% url 'ajax_get_orderdetail_tables' %}?rowId="+row_id);

        $('#list_meal_order_stat').load("{% url 'ajax_get_orderstat_list' %}?rowId="+row_id);

	    $('#OrderDetailModal').modal('show')
	}


    function SetOrderAppFinish(row_id,operateusername){
        var userName = $('#icon_group_userName').html().trim();
        if(userName != null && userName != '' && userName != operateusername){
            $('#AlertMsgBody').html('不能结束其他人发起的订餐统计!');
			$('#AlertModal').modal('show');
			reyurn;
        }
        $.get("{% url 'ajax_set_orderapp_finished' %}?rowId="+row_id,function(rtnValue){
            //alert(rtnValue['Flag']+rtnValue['Msg']);
            if(rtnValue['Flag']=='Y'){
                location.reload();
            }else{
                $('#AlertMsgBody').html('添加失败!');
			    $('#AlertModal').modal('show');
            }
        });

    }

    function pageSkip(allPage){
        var skipPage = $("#pageSkip").val().trim();
        if(skipPage != null && skipPage != ''){
            if(! /^[1-9]+$/.test(skipPage)){
                alert('只能输入正整数');
            }else if(parseInt(skipPage) > allPage){
                alert('不能超过总页数');
            }else{
                window.location.href="WeekReport?curPage=" + parseInt(skipPage) + "&allPage=" + allPage + "&pageType=pageSkip";
            }
        }
    }


    function ExportExcel(opt){
        var param = '';
        if(opt == 'cur'){
            var curWeek = getWeekStartDate() + '-' + getWeekEndDate() ;
            param = '&dtRange=' + curWeek;
        }else if(opt == 'pre'){
            var preWeek = getLastWeekStartDate() + '-' + getLastWeekEndDate() ;
            param = '&dtRange=' + preWeek;
        }else{
            opt = 'all';
            param = '&dtRange=';
        }
        window.location.href="Download/WeekReportExportExcel?option=" + opt + param;
    }





</script>
{% endblock %}









